// // // // // // // // // // // // // // // // // // // //

.section {
}

.wrapper {
  padding: 65px 0 80px 0;
}

// // // // // // // // // // // // // // // // // // // //

.img_wrapper {
  overflow: hidden;

  img {
    width: 100%;
    transform: scale(1.18) translateX(16px);
  }
}

// // // // // // // // // // // // // // // // // // // //

.content_wrapper {
  text-align: center;
  padding: 0 23px;
}

.title {
  font-family: var(--serif);
  color: hsla(207, 33%, 32%, 1);
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -0.277px;
  margin-bottom: 24px;
}

.text {
  font-family: var(--sans);
  color: hsla(207, 16%, 50%, 1);
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
}

// // // // // // // // // // // // // // // // // // // //
