// // // // // // // // // // // // // // // // // // // //

.section {
  background-color: hsla(207, 28%, 15%, 1);
}

.wrapper {
  padding: 0 24px;
}

// // // // // // // // // // // // // // // // // // // //

.logos_container {
  div {
  }

  svg {
    transform: scale(0.84);
  }
}

// // // // // // // // // // // // // // // // // // // //

.content_container {
  text-align: center;
  color: #fbfcfe;
}

.title {
  font-family: var(--serif);
}

.text {
  font-family: var(--sans);
  opacity: 0.7;
}

.link,
.link:link,
.link:visited {
  text-decoration: none;
  font-family: var(--sans);
  color: inherit;
}

// // // // // // // // // // // // // // // // // // // //
