// // // // // // // // // // // // // // // // // // // //

.outerWrapper {
  overflow: hidden;
}

.section {
  position: relative;
}

.circle {
  position: absolute;
  z-index: -1;
  left: 50%;
  top: -628px; // -78
  transform: translate(-50%, 0);
}

// // // // // // // // // // // // // // // // // // // //

.img_phone_box {
  display: flex;
  margin: 10px auto 0 auto;
  width: 210px;
  //   overflow: hidden;

  img {
    width: 100%;
    position: relative;
    right: -18px;
  }
}

// // // // // // // // // // // // // // // // // // // //
