// // // // // // // // // // // // // // // // // // // //

.container {
}

.inner_container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 40px 24px 0 24px;
}

.btn_logo {
  display: flex;

  img {
    pointer-events: none;
  }
}

.btn_toggle_nav {
  display: flex;
  align-items: center;
  height: 38px;
  padding-left: 15px;

  img {
    pointer-events: none;
  }
}

// // // // // // // // // // // // // // // // // // // //

.nav_container {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;

  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;

  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: end;

  &_inner {
    width: 300px;
    transform: translateX(300px);
  }

  nav {
  }

  ul {
    list-style: none;
  }

  li {
  }

  a,
  a:link,
  a:visited {
    text-decoration: none;
  }
}

.btn_cta {
}

.open {
}

// // // // // // // // // // // // // // // // // // // //
